In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [2]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [3]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [4]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
dependent=dataset[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['poisson', 'squared_error', 'friedman_mse', 'absolute_error'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
28 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\User\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.8145489  0.83308154 0.82098785 0.83126874
        nan        nan 0.81389459 0.83303196 0.8231484  0.83358799
        nan        nan 0.82195946 0.83561485 0.81885934 0.83235243
        nan        nan 0.81798463 0.83026586 0.82384011 0.83029551]
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['poisson', 'squared_error',
                                       'friedman_mse', 'absolute_error'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [10]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004169,0.003124,0.000000,0.000000e+00,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.002199,0.000401,0.000000,0.000000e+00,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.108360,0.004257,0.009374,7.653994e-03,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.846277,0.755979,0.833169,0.814521,0.822799,0.814549,0.031151,15
3,0.957167,0.016884,0.028234,6.026840e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.856302,0.781133,0.862578,0.828508,0.836886,0.833082,0.028786,3
4,0.099993,0.007654,0.009375,7.654422e-03,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.853410,0.768717,0.843772,0.807181,0.831858,0.820988,0.030369,12
5,0.945035,0.006668,0.028124,6.249166e-03,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.859499,0.779575,0.857045,0.823764,0.836460,0.831269,0.029041,6
6,0.000000,0.000000,0.000000,0.000000e+00,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.000000,0.000000,0.000000,0.000000e+00,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.093744,0.000001,0.006250,7.654539e-03,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.847501,0.758164,0.834318,0.798709,0.830781,0.813895,0.032150,16
9,0.853067,0.027241,0.031249,7.231594e-07,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.855998,0.779299,0.860916,0.831297,0.837650,0.833032,0.029040,4
10,0.093744,0.000001,0.009374,7.654188e-03,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.853417,0.767693,0.848507,0.818779,0.827346,0.823148,0.030566,10
11,0.891736,0.049338,0.025727,6.859634e-03,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.858206,0.782496,0.858929,0.826942,0.841368,0.833588,0.028154,2
12,0.003125,0.006249,0.000000,0.000000e+00,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.000000,0.000000,0.000000,0.000000e+00,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.118742,0.021194,0.003125,6.249237e-03,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.842305,0.769686,0.852179,0.825858,0.819769,0.821959,0.028565,11
15,0.897296,0.037490,0.031616,7.333527e-04,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863499,0.781167,0.864110,0.828641,0.840658,0.835615,0.030424,1
16,0.087491,0.007656,0.009375,7.654344e-03,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850314,0.765900,0.843648,0.805791,0.828644,0.818859,0.030578,13
17,0.935116,0.022251,0.034542,8.650065e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855334,0.775262,0.862155,0.826408,0.842603,0.832352,0.031036,5
18,0.000000,0.000000,0.000000,0.000000e+00,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.000000,0.000000,0.000000,0.000000e+00,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.241686,0.006973,0.009364,5.870020e-03,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.830806,0.741762,0.853138,0.816673,0.847544,0.817985,0.040213,14
21,2.234852,0.019950,0.031248,6.289914e-07,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.852663,0.777484,0.851343,0.826416,0.843423,0.830266,0.027999,8
22,0.249983,0.009881,0.006250,7.654363e-03,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.842814,0.783158,0.851457,0.809433,0.832338,0.823840,0.024729,9
23,2.095274,0.241758,0.025563,1.259065e-02,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.857784,0.774250,0.853030,0.825765,0.840648,0.830296,0.030137,7

In [12]:
import pickle
filename="finalized_model_RandomForestRegressor_Gridsearchcv.sav"
pickle.dump(grid,open(filename,'wb'))